<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565857651879-c7pue4cumfa0mbhe52c3spsqkol88rff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565857651879-c7pue4cumfa0mbhe52c3spsqkol88rff</string>
	<key>API_KEY</key>
	<string>AIzaSyBepWg598w1Y8Zl8gNs0L5gYdZUkAjhqMg</string>
	<key>GCM_SENDER_ID</key>
	<string>565857651879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aleksandraczerwik.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait444</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait444.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565857651879:ios:1a8a82904519d65d011f82</string>
</dict>
</plist>